.app {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin-top: 2rem;
}

.board {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    margin-bottom: 1rem;
}

.square {
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    color: black;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    height: 100px;
    justify-content: center;
    transition: background-color 0.3s ease;
    width: 100px;
}

.square:hover {
    background-color: #5baaff;
}

.square.highlight {
    background-color: rgb(255, 234, 79);
    border-color: rgb(196, 0, 0);
    border-width: 0.3rem;
}

.info {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

button {
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    background-color: #5baaff;
    border: none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 20px 30px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(202, 217, 115);
    font-weight: bold;
}

@media (max-width: 600px) {
    .board {
        grid-template-columns: repeat(3, 70px);
        grid-template-rows: repeat(3, 70px);
    }

    .square {
        height: 70px;
        width: 70px;
        font-size: 1.5rem;
    }

    .app {
        margin-top: 1rem;
        padding: 0 1rem;
    }

    button {
        padding: 15px 25px;
        font-size: 0.9rem;
    }

    .info {
        font-size: 1.2rem;
    }
}